.navbar {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    width: 100%;
    /* padding: 16px 0; */
    background-color: rgb(226, 223, 223);
    box-shadow: 1px 1px 6px 1px;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid rgb(156, 153, 153);
}

.nav-heading {
    padding: 0px 50px;
    color: rgb(96, 96, 255);
}

.header-btn {
    padding: 27px 24px;
}

.button {
    margin: 0 10px;

}