.model{
    width: 100%;
}
.books-head{
    display: flex;
    justify-content: space-between;
    /* width: 70%; */
    margin: auto;
    padding: 12px 18px;

    
}
.todo-card{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 13px;
    border: 1px solid black;
    padding: 5px 19px;
    margin: 12px 15px;


}

.todo-card-left{
    display: flex;
    flex-direction: column;
    gap: 13px;
    /* padding: 17px 19px; */
}
.todo-card-right{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px 0px;
}

.todo-card>h3{
    border-right: 1px solid black;
}